<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2D-Chess</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/kc.jpeg') }}"
      type="image/png"
    />
  </head>
  <body>
    <div id="logo-container">
      <img
        src="{{ url_for('static', filename='img/kc.jpeg') }}"
        alt="2D Chess Logo"
      />
    </div>
    <h1>Welcome to 2D-Chess by Kevin COOVI</h1>
    <div id="chessboard">
      <!-- Chessboard grid and pieces will be dynamically generated here -->
    </div>

    <input
      type="button"
      value="New Game"
      onClick="window.location.reload(true)"
    />

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
